.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.brand-area .owl-theme
{
  display: flex;
    width: 100%;
}

.row .testimonial-carousel

{
  display: flex;
  width: 100%;
}

.new-cars-content .owl-carousel
{
  display: block;
  width: 100%;
}
nav.navbar.bootsnav
{
  background-color: black;
}
#contact
{
  margin-top: 100px;
}
#brand
{
  margin-top: 113px;
  padding-bottom: 23px;
}
#new-cars, #featured-cars
{
  margin-top: 43px;
}
nav.navbar.bootsnav ul.nav > li.scroll>a {
  color:white;
}


.header-area .container .navbar-nav li a.active
{
  font-weight: bold; 
  color: rgb(14, 140, 190) !important
}

.api-data
{
display: inline-block;
width: 230px;
height: 60px;
background: #4e4ffa;
color: #fff;
border-radius: 3px;
margin-top: 25px;
-webkit-transition: .3s linear;
-moz-transition: .3s linear;
-ms-transition: .3s linear;
-o-transition: .3s linear;
transition: .3s linear;
}